<div class="home">
    <ul>
        <li><a href="/list">bottom1</a></li>
        <li><span>bottom2</span></li>
        <li><span>bottom3</span></li>
        <li><span>bottom4</span></li>
        <li><span>bottom5</span></li>
        <li><span>bottom1</span></li>
        <li><span>bottom2</span></li>
        <li><span>bottom3</span></li>
        <li><span>bottom4</span></li>
        <li><a href="/list">bottom5</a></li>
        <li><span>bottom1</span></li>
        <li><span>bottom2</span></li>
        <li><span>bottom3</span></li>
        <li><span>bottom4</span></li>
        <li><span>bottom5</span></li>
    </ul>
</div>